@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
 @include foundation-xy-grid-classes;
// @include foundation-grid;
//@include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-range-input;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
//@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;


.sopds-top-bar {
@extend .top-bar;
  ul.menu {
    a { color : $sopds-title-color; }
    a:hover { color: $sopds-hover-color; }
  }
  .sopds-title-bar-title { 
    @extend .title-bar-title;
    color : $sopds-title-color;
    }
}

.sopds-top-bar-title {
@extend .top-bar-title;
margin-top: 0;
margin-left: 0;
margin-bottom: 0;
margin-right: 1rem;
//flex: 0 0 auto;
}

.button.sopds-arrow-only::after {
  @extend .arrow-only;
    top: 0.6em;
    float: none;
    margin-left: 0;
}

.sopdsbg {
  background-color: $sopds-bg-color;
  a { color : $sopds-title-color; }
  a:hover { color: $sopds-hover-color; } 
  color : $sopds-title-color;
}

.sopdsmenu {
  background-color: $sopds-menu-bg-color;
  a { color : $sopds-menu-color; }
  a:hover { background-color: $sopds-menu-bg-hover-color; } 
  color : $sopds-menu-color;
}

.sopdsitem {
  padding: 0.5rem 0.625rem 0.625rem;
}

.sopdsitem:nth-child(odd) {
  background-color: $light-gray;
}

.sopds-book-card {
@extend .card
}

.sopds-book-card-divider {
@extend .card-divider
}
