# By default ignore all
*

# Except this things
!/pyproject.toml
!/uv.lock
!/bootstrap.sh
!/requirements
!/src
!/scripts/
!/version.txt
!/LICENSE

# But still do not include
/src/.pytest*
/src/.env
/src/static
/src/.*
/**/__pycache__
