{% extends "sopds_main.html" %}
{% load i18n %}

{% block body %}
<div id="list-content"
     hx-target="this"
     hx-select="#list-content"
     hx-swap="outerHTML">
{%  for a in authors %}
<div class="cell sopdsitem">
		<a href="{% url "web:searchbooks" %}?searchtype=a&searchterms={{a.id}}"><b>{{ a.full_name }}</b></a> <span style="font-size:80%;">{% blocktrans with a_book_count=a.book_count %}Total: {{ a_book_count }} books.{% endblocktrans %}</span>
</div>
{% endfor %}

{% if paginator.num_pages > 1 %}
<div class="grid-x">
  <div class="cell">
    <div id="page-indicator" class="htmx-indicator text-center">
      <span class="label secondary">{% trans "Loading..." %}</span>
    </div>
  </div>
</div>
<ul class="pagination" role="navigation" aria-label="Pagination">
  <li class="pagination-previous {% if not paginator.has_previous %}disabled{%endif%}">
      {% if paginator.has_previous %}<a href="#"
         hx-get="{% url "web:searchauthors" %}?searchtype={{searchtype}}&searchterms={{searchterms}}&page={{paginator.previous_page_number}}"
         hx-target="#list-content"
         hx-swap="outerHTML"
         hx-indicator="#page-indicator"
         aria-label="Previous page"> {%endif%}
         {% trans "Previous page" %}
      {% if paginator.has_previous %}</a>{%endif%}
  </li>

  {% for pn in paginator.page_range %}
     {% if paginator.number == pn %}
        <li class="current">{{pn}}</li>
     {% else %}
        <li><a href="#"
           hx-get="{% url "web:searchauthors" %}?searchtype={{searchtype}}&searchterms={{searchterms}}&page={{pn}}"
           hx-target="#list-content"
           hx-swap="outerHTML"
           hx-indicator="#page-indicator"
           aria-label="Page {{pn}}">{{pn}}</a></li>
     {% endif %}
  {% endfor %}

  <li class="pagination-next" {% if not paginator.has_next %}disabled{%endif%}>
      {% if paginator.has_next %}<a href="#"
         hx-get="{% url "web:searchauthors" %}?searchtype={{searchtype}}&searchterms={{searchterms}}&page={{paginator.next_page_number}}"
         hx-target="#list-content"
         hx-swap="outerHTML"
         hx-indicator="#page-indicator"
         aria-label="Next page">{%endif%}
         {% trans "Next page" %}
      {% if paginator.has_next %}</a>{%endif%}
  </li>
</ul>
{% else %}
<div class="large-12 column"><p></p></div>
{% endif %}
</div><!-- #list-content -->

{% endblock %}  {# body #}
