{% load i18n %}

{% if user.is_authenticated or not sopds_auth %}
<div class="cell">
<div class="grid-x grid-margin-x expanded callout secondary">
    <!-- Bookshelf -->
    <div class="cell large-4" >
        {% if sopds_auth %} 
        <h5><a href="{% url "web:searchbooks" %}?searchtype=u">{% trans "BOOKSHELF" %}</a></h5>
        {% else %}
        <h5>{% trans "BOOKSHELF" %}</h5>
        {% endif %}
        {% if sopds_auth %}
        <div class="row small-up-4">
        {% for b in bookshelf %}
           <div class="column">
               <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{b.title}}">
                   <a href="{% url "web:searchbooks" %}?searchtype=i&searchterms={{b.book_id}}">
                       <img class="thumbnail" src="{% url 'opds_catalog:thumb' b.book_id %}" type="image/jpeg" alt="{{b.title}}">
                  </a>   
               </span>
           </div>
        {% endfor %}
        </div>
        {% else %}
        {% blocktrans %}Bookshelf is available only SimpleOPDS Catalog mode with activated user authorization.{% endblocktrans %}
        {% endif %}
    </div>

    <!-- Statistics -->
    <div class="cell large-4">
        <h5>{% trans "STATISTICS" %}</h5>
        <p style="font-size:90%;">
        <b>{% trans "This сatalog contains:" %}</b>
        <span class="label">{{ stats.allbooks }}</span> {% trans "books," %}
        <span class="label">{{ stats.allauthors }}</span> {% trans "authors," %}
        <span class="label">{{ stats.allgenres }}</span> {% trans "genres and" %}
        <span class="label">{{ stats.allseries }}</span> {% trans "series." %}
        </p>
        <p style="font-size:90%;">
        <b>{% trans "Last collection scan date:" %}</b>
        <span class="label"> {% if stats.lastscan_date %}{{ stats.lastscan_date }}{% else %}{%  trans "Never" %}{% endif %}</span>
        </p>
    </div>

    <!-- Random book -->
    <div class="cell large-4">
        <div class="cell">
            <h5>{% trans "RANDOM BOOK" %}</h5>	
        </div>
        <div class="large-12 columns clearfix">    
        {% if random_book %}
            <img class="float-left" src="{% url 'opds_catalog:thumb' random_book.id %}" type="image/jpeg" width="80px" style="padding:0.3rem;">
            <p style="font-size:80%;line-height:1rem;margin-bottom:0.25rem; margin-top:0.25rem;"><b><a href="{% url "web:searchbooks" %}?searchtype=i&searchterms={{random_book.id}}">{{ random_book.title }}</a> </b></p>
            <div style="font-size:70%;text-align:justify;"> {{ random_book.annotation | truncatechars:400}} </div>	
        {% endif %}	
        </div>	
    </div>
</div>
</div>
{% endif %}

<div class="cell">
<div class="grid-x sopdsmenu">
	<div class="cell medium-6 large-8">
		<ul class="menu show-for-medium">
		<li class="menu-text" style="padding:0"><a href="https://github.com/sarutobi/sopds-ng"><i class="fi-social-github"></i>GitHub</a></li>
		<li class="menu-text" style="padding:0"><a href="https://twitter.com/dmitsh"><i class="fi-social-twitter"></i>Twitter</a></li>
		</ul>
	</div>
	<div class="cell auto">
		<ul class="menu align-right">
		<li class="menu-text" style="padding:0"><a href="http://www.sopds.ru/">SOPDS.RU v.{{ sopds_version }}</a></li>
		</ul>
	</div>
</div>
</div>
